/* 
	Bryan Moore Web Development

	Personal Website for Gollo Moreno

	main.css - css page for index.html
*/

@font-face {
	font-family: adamPro;
	src: url(adamCgPro.otf);
}

body {
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
}

h2 {
	color: white;
	text-align: center;
	font-family: adamPro;
    font-size: 25px;
}

h4 {
	color: white;
	font-style: italic;
	font-family: adamPro;
}

a:hover {
    cursor: crosshair;
    color: inherit;
    text-decoration: none;
}


.mainblock {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left:  50px;
	padding-right: 50px;
}

/* Slider Text Area Styling */
.textblock {
	padding: 30px;
    padding-top: 100px;
	height: 520px;
    width: 100%;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

/* Height and padding for the logos, as well as transition times */
.textblock img {
    height: 80px;
    padding-left: 20px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

/* Spinning the logos on Hover */
.textblock img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Centering the Social Media Logos */
#logos {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Spotify Player Styling */
.textblock iframe {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

/* SLIDER THINGS */
.slider {
    width: 100%;
    opacity: 0.7;
    height: 1px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #4CAF50;
    cursor: pointer;
}


/* Sidebar Navigation Things */

.openNav {
	float: right;
	text-align: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.bottomlinks {
	padding-top: 400px;

}

.sidenav p {
	color: black;
	text-align: center;
	font-size: 10px;
	font-style: italic;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


