/* 
	Bryan Moore Web Development

	Personal Website for Gollo Moreno

	resume.css - styling for resume.html
*/

@font-face {
	font-family: adamPro;
	src: url(adamCgPro.otf);
}

body {
	background-color: black;
	color: white;
}

h2 {
	color: white;
	text-align: center;
	font-family: adamPro;
	font-size: 25px;
}

h4 {
	color: white;
	font-style: italic;
	font-family: adamPro;
}

.mainblock {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left:  50px;
	padding-right: 50px;
}

.textblock {
	padding: 30px;
	height: 400px;
}


.resumePdf {
	text-align: center;
	margin: 0 auto;
}

/* Sidebar Navigation Things */

.openNav {
	float: right;
	text-align: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav p {
	color: black;
	text-align: center;
	font-size: 10px;
	font-style: italic;
	padding-top: 400px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}